main {
  
  .aboutTitle {
    .flex();
    font-size: 6rem;
    padding: 20px 0;
  }//close of .aboutTitle
  
  .aboutContanier {
    background: whitesmoke;
    
    .aboutUs {
      width: 60%;
      margin: 0 auto 40px auto;
      .flex();
      flex-wrap: wrap;
      
      .person {
        width: 45%;
        // border: 1px solid black;
        margin: 20px;
        box-shadow: 10px 10px 8px #888888;
        border-radius: 15px;
        
        img {
          border-radius: 15px 15px 0 0;
          width: 100%;
        }//close of img 
        
        div {
          padding: 20px;
          
          .lambdaLogo {
            border-radius: 0;
            width: 30%;
            margin-bottom: 20px;
          }
          
          p {
            font-size: 1.5rem;
            margin-bottom: 20px;
          }
          
          h3 {
            font-size: 2rem;
            margin-bottom: 10px;
          }
        }//close of div
        
      }
    }
  }
}// closse of main