main{
  // display: flex;
  // width: 50%;
  // margin: 0 auto;
  
  .mainSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    
    .infoBox {
      display: flex;
      padding: 20px;
      
      div {
        width: 50%;
        
        h3 {
          font-size: 3rem;
          padding-bottom: 20px;
        }//close of h3

        p {
          font-size: 1rem;
        }
      }//close of div
    }//close of .infobox
  }//close of .mainSection
}//close of main